In [4]:
import numpy as np
import pandas as pd

In [37]:
from numpy.random import randn
seed=400
np.random.seed(seed)
Decision=pd.DataFrame(randn(8,4),columns='Drill No_Drill Frac No_Frac'.split())
Decision

      Drill  No_Drill      Frac   No_Frac
0 -1.130571  0.696200 -0.432293  0.741020
1 -0.478137  1.386040  0.125180  1.148860
2 -2.350259  0.183293 -0.311386 -0.294066
3  0.400061  1.005500  0.501643 -0.000668
4  1.303972  1.073324 -0.515345  1.662900
5  0.551817 -0.579494 -0.848800 -0.410862
6  2.160625 -1.557699  0.134852  0.005454
7  0.646549 -0.592073  0.551924  1.378349

In [38]:
Decision>0

   Drill  No_Drill   Frac  No_Frac
0  False      True  False     True
1  False      True   True     True
2  False      True  False    False
3   True      True   True    False
4   True      True  False     True
5   True     False  False    False
6   True     False   True     True
7   True     False   True     True

In [39]:
Decision['Drill']>0

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: Drill, dtype: bool

In [40]:
Decision[Decision['Drill']>0] # print every row with drill greater than 0

      Drill  No_Drill      Frac   No_Frac
3  0.400061  1.005500  0.501643 -0.000668
4  1.303972  1.073324 -0.515345  1.662900
5  0.551817 -0.579494 -0.848800 -0.410862
6  2.160625 -1.557699  0.134852  0.005454
7  0.646549 -0.592073  0.551924  1.378349

In [41]:
Decision[Decision['Frac']>0] # print every row with Frac greater than 0

      Drill  No_Drill      Frac   No_Frac
1 -0.478137  1.386040  0.125180  1.148860
3  0.400061  1.005500  0.501643 -0.000668
6  2.160625 -1.557699  0.134852  0.005454
7  0.646549 -0.592073  0.551924  1.378349

In [42]:
Decision[(Decision['Drill']>0) & (Decision['No_Drill']>0) &(Decision['Frac']>0) & (Decision['No_Frac']<0)]

      Drill  No_Drill      Frac   No_Frac
3  0.400061    1.0055  0.501643 -0.000668

In [43]:
Decision.iloc[[0,2,4],:]

      Drill  No_Drill      Frac   No_Frac
0 -1.130571  0.696200 -0.432293  0.741020
2 -2.350259  0.183293 -0.311386 -0.294066
4  1.303972  1.073324 -0.515345  1.662900

In [44]:
Decision.iloc[:,[0]]

      Drill
0 -1.130571
1 -0.478137
2 -2.350259
3  0.400061
4  1.303972
5  0.551817
6  2.160625
7  0.646549